/* Footer.css */
.footer {
    background-color: #ffc107;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 90%;
    margin: 0 auto; /* Center the footer horizontally */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .diwali-message {
    font-size: 1.2rem;
  }
  
  .love-symbol {
    font-size: 1.5rem;
  }
  